<div class="space"></div>
<div class="space"></div>
<div class="container content-general">
  <div class="container">
    <div class="col s12 content-btns z-depth-2">
      <div class="space"></div>

      <div class="col s12 center">
        <a class="waves-effect waves-light btn btn-general btn-auth" routerLink="/coin-list">Listar monedas por usuario</a>
      </div>
      <div class="space"></div>
      <div class="col s12 center">
        <a class="waves-effect waves-light btn btn-general btn-auth" routerLink="/list-manager">Listar monedas por gestora</a>
      </div>
      <div class="space"></div>
      <div class="col s12 center">
        <a class="waves-effect waves-light btn btn-general btn-auth" routerLink="/list-country">Listar monedas por pais</a>
      </div>
      <div class="space"></div>

    </div>
  </div>
</div>
