.content-form{
  border-radius: 0 0 8px 0;
}

.content-btn{
  padding-bottom: 30px;
}

.title-auth{
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #494949;
}

.user {
  margin: 0 0;
  padding: 0 0;
}

input[type]:-webkit-autofill,
input[type]:-webkit-autofill:hover,
input[type]:-webkit-autofill:focus,
input[type]:-webkit-autofill:active {
    transition: background-color 5500s ease-in-out 0s;
    -webkit-box-shadow: inset 0 0 0 500px transparent;
}
input:-webkit-autofill { +label { @extend .active !optional; } }
input[type]:-webkit-autofill + label{
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}
.input-field label {
  pointer-events: all;
}

.btn-auth{
  background-color: #FDDA24;
  color: #292929;
  border-radius: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.label-form{
  color: #BCBDC0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
